
.cardDetails{
	padding: 20px 0;
	min-height: 100px;
	border-radius: 15px;
	background-color: #F4F4F4;;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
}


.deleteCardGrid{
	position: absolute;
	right: 0;
	cursor: pointer;
	margin-top:3px;
	margin-right: 3px;
}


.DeleteIconCard:hover {
background: lightgrey;
}

.cardWrapper{
	position: relative;
	display: block;
}
