.wrapper-entry {
  margin: 7px;
  display: flex;
  background: #f2f2f2;
}



.EntryTextArea {
  min-width: 270px;
  max-width: 270px;
  min-height: 50px;
  text-align: center;
   box-sizing: border-box;
   padding: 5px;
   font-size: 15px;
   border: 0;
   background: white;
   margin-right: 5px;
}

.deleteEntryImg {
  margin-top: 15px;
}

.deleteEntryImg:hover {
  background: lightgrey;
}
